/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700,900');

/* ESTILOS PRINCIPALES */
html {
  font-size: 10px;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #ebebeb;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  font-size: 3rem;
}
a {
  color: #53264e;
}
a:hover {
  text-decoration: none;
}
div:focus {
  outline: none;
  }

.purple {
  color: #53264e;
}
.purple-back {
  background-color: #53264e;
}

.gray-back {
  background-color: #ebebeb;
}

.seccion {
  height: 100vh;
}
.depto-diseno, .entorno-img, .contacto-img {
  position: absolute;
}
.entorno-img, .contacto-img {
  opacity: .12;
}
.depto-diseno {
  left: 0;
}
.entorno-img{
  top: 27rem;
  left: 37%;
  z-index: 1;
}
.contacto-img {
  top: 10rem;
  right: 8rem;
}

.logo-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-height: 80px;
}
.fuenzalida-nav {
  margin-top: 10px;
}

.btn-main, .btn-main-inv {
  font-size: 2rem;
  padding: .4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20rem;
  border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
  font-weight: 300;
}
.mini-span {
  font-size: 10px;
  display: block;
}
.btn-main {
  color: #2B1A22;
  background-color: transparent;
  border-color: #2B1A22;
  margin-top: 8rem;
  transition: all .2s ease-in;
}
.btn-main:hover {
  color: white;
  background-color: #2B1A22;
}
.btn-main-inv {
  color: white;
  background-color: #53264e;
  border: solid .2rem #53264e;
  margin-top: 3rem;
  transition: all .2s ease-in;
}
.btn-main-inv:hover {
  background-color: transparent;
  color: #53264e;
}
.vista-modelos .btn-main-inv {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* MODAL COTIZAR */
.modal-content.cotizar,  .modal-content.cotizacion{
  border: 0px;
  border-radius: 0px;
  box-shadow: none !important;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  padding: 40px;
  overflow-y: auto;
}

.modal-header{
  padding: 0px;
}
.modal-header h3 {
  margin-top: 0px;
}
.modal-header h5 {
  font-size: 18px;
  font-weight: 600;
  color: #54274e;
}
.close {
  font-size: 50px;
}
.close:focus {
  outline: none;
}
.modal-content.cotizar .btn-main-inv {
  margin-top: -1.5rem;
  float: right;
}
/* COTIZACIÓN */
.cotizacion {
  display: none;
}
.cotizacion img {
  max-width: 200px;
  max-height: 450px;
}
.cotizacion h3 {
  font-size: 22px;
}
.cotizacion .modal-body h4 {
  color: gray;
  font-size: 16px;
}
.cotizacion .modal-body h5 {
  margin-bottom: 30px;
color: #54274e;
font-weight: 800;
}
.cotizacion .btn-main-inv span{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}
.cotizacion .btn-main-inv {
  font-size: 1.8rem;
}
.tabla-dpto{
  width: 100%;
}
.tabla-dpto hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
.tabla-dpto .totales {
  color: #54274e;
  font-weight: 800;
}
.datos-tabla{
  text-align: right;
}
.legal p {
  font-size: 12px;
}
.jardin-modal-lg .modal-body, .quinchos-modal-lg .modal-body{
  margin-left: -28px;
  margin-right: -28px;
}
.jardin-modal-lg .modal-body img, .quinchos-modal-lg .modal-body img{
  max-width: initial;
}

.btn-ver, .btn-ver-inv {
  font-size: 1.2rem;
  padding: .5rem .7rem;
  margin-right: 1rem;
  border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}
.btn-ver {
  color: #53264e;
  background-color: transparent;
  border: solid 2px #53264e;
  transition: all .2s ease-in;
}
.btn-ver:hover {
  color: white;
  background-color: #53264e;
}
.btn-ver:focus, .btn-main:focus, .btn-ver-inv:focus, .btn-main-inv:focus, .btn-home:focus{
  outline: none;
}
.btn-ver-inv {
  color: white;
  background-color: #53264e;
  border: 2px solid #53264e;
  margin-top: -5rem;
  transition: all .2s ease-in;
}
.btn-ver-inv:hover{
  background-color: transparent;
  color: #53264e;
}

/* NAVBAR */
.navbar-default {
  background-color: white;
  border: none;
  height: 80px;
  padding: 20px;
  box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.75);
}

.navbar-header img {
  margin-left: 2rem;
  max-width: 20rem;
}

.burger-menu {
  cursor: pointer;
  margin-top: -1rem;
  box-shadow: 0px;
  transition: all .2s ease-in;
}

/* SIDEBAR */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    -webkit-backface-visibility: hidden;
}

.sidenav a {
    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5rem;
}
.close-modal {
    position: absolute;
    z-index: 1;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5rem;
    cursor: pointer;
    top: -4rem;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 1.5rem;
    max-width: 240px;
  }
  .sidenav a {font-size: 1.8rem;}
}

/* HOME */
.home {
  text-align: center;
  color: #53264e;
  background-color: white;
  padding-top: 80px;
  height: auto;
  padding-bottom: 5rem;
}
.desde-span {
  font-size: 20px;
}
.img-home {
  margin-left: -15px;
}
.img-home img {
  width: 100%;
}
.img-home .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
}

.logo {
  width: 100%;
  max-width: 35rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.info140 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 33rem;
}

.hline {
  width: 3rem;
  height: .1rem;
  background: #53264e;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  margin-bottom: .4rem;
  }

.btn-home {
    color: #2B1A22;
    background-color: #d7d1c4;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 20rem;
    border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
    transition: all .2s ease-in;
  }
.btn-home:hover {
  color: white;
  background: transparent;
  border: solid 1px #d7d1c4;
}

  /* EXCLUSIVOS */
.exclusivos{
  padding-top: 7rem;
  padding-right: 4rem;
  padding-left: 12rem;
  height: 80vh
}
.seccion.exclusivos p b{
  color: #53264e;
}
.exclusivos p{
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.toggle-on {
  color: white;
  font-weight: 100;
  padding: 1rem;
}
.toggle-on p{
  font-size: 1.3rem;
}

.carousel-exclusivos {
  z-index: 0 !important;
}
.carousel-exclusivos .thumbnail {
  border: none;
}
.carousel-exclusivos .owl-dots {
  margin-top: -1rem !important;
}
.carousel-exclusivos .owl-dot span {
  border-radius: 0px !important;
  width: 45px !important;
  height: 4px !important;
  margin: 0px 6px !important;
  transition: all .2s ease-in-out !important;
}
.carousel-exclusivos .owl-dots .owl-dot.active span, .carousel-exclusivos .owl-dots .owl-dot:hover span {
  background: #53274e !important;
}

/* MODELOS */
.modelos{
  padding-top: 8rem;
  padding-right: 9rem;
  padding-left: 12rem;
  position: relative;
}

.modelos h1, .modelos h2{
  display: inline-block;
  font-size: 4rem;
}
.modelos h1 {
  margin-right: 1rem;
}

.owl-carousel {
  margin-top: 2rem;
}
.carousel-vermas .owl-item img, .carousel-modelos img {
  max-height: 50rem;
  /*width: auto !important;*/
}
.carousel-modelos .owl-prev, .carousel-modelos .owl-next {
  background: none !important;
}
.carousel-modelos .owl-prev {
  top: 20rem;
  left: -11rem;
  position: absolute;
}
.carousel-modelos .owl-next {
  top: 20rem;
  right: -7rem;
  position: absolute;
}
.carousel-modelos .item h4 {
  margin-top: -5px;
  color: #53264e;
  font-weight: 600;
}
.carousel-modelos .item h3 {
  color: #53264e;
  font-weight: 300;
}
.carousel-vermas .owl-dots, .carousel-modelos .owl-dots {
  display: none;
}
.carousel-vermas .thumbnail, .carousel-modelos .thumbnail {
  max-width: 50rem;
  margin: 0rem;
  border: .1rem solid #2B1A22;
  border-radius: 0rem;
}
.mensaje-carousel {
  display: none;
  text-align: center;
}
.vista-modelos .mensaje-carousel {
  display: block;
}

/* ENTORNO */
.entorno {
  padding-top: 10rem;
  padding-left: 12rem;
  position: relative;
}

#map{
  height: 100%;
  z-index: 10;
}
.map{
  height: 53rem;
}

.leyenda {
  width: 33rem;
  z-index: 10;
  transition: all .3s ease-in-out;
}
.leyenda ul {
  margin-top: 2rem;
  margin-left: -2.5rem;
  list-style-type: none;
}
.leyenda ul li{
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: inline-flex;
}
.leyenda ul li.final{
  border-bottom: 1px solid gray;
}
.leyenda li::before{
  font-size: 25px;
  margin-left: -2.5rem;
  margin-right: .5rem;
}
.icon-leyenda {
  background-color: #b5b5b5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.icon-leyenda img {
  max-width: 25px;
}
.icon-leyenda:hover, .icon-leyenda.active {
  background-color: #54274e;
}
.leyenda li span {
  padding-top: 10px;
  padding-left: 10px;
}

/* MODELOS VISTA */
.vista-modelos {
  padding-left: 5rem;
  position: absolute;
  left: -100%;
  margin-top: 12rem;
  display: none;
}
.vista-modelos:focus, .home:focus, .exclusivos:focus, .modelos:focus, .entorno:focus, .contacto:focus {
  outline: none;
}
.vista-modelos h2 {
  font-weight: 700;
}
.vista-modelos ul {
  list-style-type: none;
  font-weight: 400;
  margin-top: 5rem;
  padding-left: 0px;
}
.vista-modelos li {
  margin-bottom: 1rem;
}
.vista-modelos li::before {
  content: "·";
  margin-right: .5rem;
}
.vista-modelos div span{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.tabla-modelos {
  margin-top: 4rem;
  width: 95%;
}
.tabla-modelos hr{
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-top: 1px solid black;
}
.tabla-modelos caption {
  color:  #2B1A22;
  font-weight: bold;
}
.tabla-modelos .valor {
  width: 10rem;
  text-align: right;
}
.tabla-modelos .total{
  font-weight: bold;
}

.modal-header img {
  max-width: 22rem;
float: right;
padding-bottom: 3rem;
margin-right: 2rem;
    margin-top: -4rem;
}

/* CONTACTO */
.contacto {
  padding-top: 8rem;
  padding-right: 4rem;
  padding-left: 10rem;
  padding-bottom: 10rem;
  position: relative;
}
.contacto .col-sm-6 {
  padding-right: 7rem;
}

.form-content {
  margin-top: 4rem;
}
.form-content2 {
  margin-top: 10.4rem;
}
.form-group {
  margin-bottom: 4rem;
}
.form-control{
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(83, 38, 78);
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all .3s ease;
}
.form-control:focus{
  box-shadow: inset 0 -2px 0px rgb(83, 38, 78);
  border-color: rgb(83, 38, 78);
}

/* FLIP EFFECT */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  width: 100%;
  height: 280px;
  position: absolute;
  top: -240px;
  left: -3px;
  transition: all .3s ease;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* FOOTER */
.footer{

  padding-left: 100px;

  padding-right: 145px;

  padding-top: 20px;

  height: 120px;

  border-top: solid 2px;

  border-color: #54274e;

  position: relative;
  font-family: 'Lato', sans-serif;

}

.footer p{
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
}

.footer .logo-left{

  max-width: 290px;

  margin-top: 15px;

  float: left;

}

.footer .logo-right{

  margin-bottom: 5px;

  max-width: 130px;

}

.footer .gc {

  font-size: 13px;

  color: #676766;

  margin-right: 10px;

}

.footer .back-to-top {

  font-size: 40px;

  color: black;

  transition: all .2s ease;

}

.footer .back-to-top:hover {

  color: #54274e;

}

.back-to-top {

  position: absolute;

  top: 15px;

  right: 108px;

}

.footer h4 {
  font-weight: 800;
}


/* MEDIA QUERIES */
@media (max-width : 1000px) {
  .footer .logo-left{
    float: none !important;
  }
  .footer .text-left {
    text-align: center;
  }
}

@media (min-width : 325px) and (max-width : 768px) {
  .back {
    left: 0px !important;
    width: 100% !important;
  }
  .modal-content.cotizar, .modal-content.cotizacion {
    height: 1000px;
  }
  .modal-header img {
    margin-top: 2rem;
    float: none;
  }
}

@media (min-width : 426px) and (max-width : 767px) {
  .burger-menu {
    /* margin-top: -6rem; */
  }
}

@media (min-width : 425px) and (max-width : 768px) {
  .contacto-img {
    top: 10rem;
    right: 7rem;
    z-index: 0;
  }
  .form-content2 {
    margin-top: 0;
  }
  .entorno-img {
    top: 1rem;
    left: 5rem;
  }
  .navbar-header img {
    float: right;
  }
  footer .logo-left{
    float: none !important;
    margin-bottom: 30px;
  }
  footer div {
    text-align: center !important;
  }
}

/* MOBILE M */
@media (max-width : 375px) {
  .sidenav {
    height: 100vh;
  }
  .navbar-header img {
    max-width: 10rem !important;
  }
  .exclusivos{
    padding-top: 4rem !important;
    padding-left: 1rem !important;
  }
  .burger-menu {
    max-width: 60px;
  }
  .modelos, .entorno, .contacto {
    padding-left: 1rem;
  }
}

/* MOBILE L */
@media (max-width : 425px) {
  html {
    font-size: 8px;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    float: right;
  }
  .navbar-header img {
    max-width: 12rem;
  }
  .sidenav {
    height: 100vh;
  }
  .img-home .carousel-exclusivos {
    display: none;
  }
  .exclusivos {
    padding-left: 1rem;
    padding-right: 0;
    padding-top: 3rem;
  }
  .exclusivos2 .btn-main-inv, .exclusivos .btn-main-inv{
    float: none !important;
  }
  .exclusivos2 .col-xs-12.col-sm-6.col-md-3.col-lg-6, .exclusivos .col-xs-12.col-sm-12.col-md-5 {
    text-align: center;
  }
  .modelos, .entorno {
    padding-left: 1rem;
    padding-right: 0rem;
  }
  .modelos h1, .modelos h2 {
    font-size: 3rem;
  }
  .contacto {
    padding-right: 0;
    padding-left: 1rem;
  }
  .contacto .col-sm-6 {
    padding-right: 2rem;
  }
  .vista-modelos {
    margin-top: 20rem;
  }
  .contacto-img {
    top: 10rem !important;
  }
  .form-content2 {
    margin-top: 0rem;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer img {
    margin-top: 20px;
  }
}

@media (min-width : 769px) and (max-width : 991px) {
  .flip-container, .back {
    width: 100% !important;
  }
  .exclusivos2 .col-xs-12.col-sm-6.col-md-3.col-lg-2 {
    margin-top: 220px;
  }
}

@media (max-width : 580px) {
  .logo-nav {
    display: none;
  }
}

@media (max-width : 991px) {
  .entorno-img {
    left: 5%;
  }
  .footer {
    text-align: center;
  }
}

/* Tablet */
@media (max-width : 768px) {
  .seccion {
    height: auto;
    padding-bottom: 5rem;
  }
  .btn-home {
    margin-top: 3rem;
  }
  .img-hidden {
    display: none;
  }
  .mensaje-carousel {
    display: block;
  }
  .flip-container {
    width: 100%;
  }
  .owl-next, .owl-prev {
    display: none !important;
  }
  .exclusivos .row.gray-back {
    margin-bottom: 3rem;
  }
  .exclusivos2 .flip-container {
    margin-top: 23rem;
  }
  .btn-ver {
    display: none;
  }
  footer {
    text-align: center;
    height: 16rem;
  }
}

/* Laptop */
@media (max-width : 1024px) {
  .btn-home{
    width: 19rem;
  }
  .back {
    left: -10px;
  }
}

/* Large Screen */
@media (max-width : 1440px) {
  html {
    font-size: 9px;
  }
  .back {
    top: -210px;
    left: -14px;
    height: 250px;
  }
}

/* 4K */
@media (min-width : 2560px) {
  html {
    font-size: 12px;
  }
  .back{
    width: 310px;
    height: 380px;
    top: -340px;
    left: 50px;
  }
  .vista-modelos {
    width: 2000px;
  }
  .vista-modelos li, .vista-modelos p, .tabla-modelos, .entorno li, .contacto, footer {
    font-size: 1.5rem;
  }
  .modelos p {
    font-size: 1.5rem;
  }
}
