.vista-modelos{
	position: fixed!Important;
	top: 0px;
	left: 0px!important;
	margin: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 9999;
	padding-top: 19px;
}
.owl-carousel .owl-item img{
	height: auto!important;
}
.vista-modelos .close-modal{
	top: 13px;
	z-index: 999;
}

.cotizacion img{
	max-width: initial; 
}


.carousel-vermas .owl-dots{
	display: block!important;
}

.sidenav{
	background-color: #54274e;
	color:#fff;
}

.sidenav a{
	color:#fff;	
}

.modal-content.cotizacion .imagen_56455{
	width: 250px;
}

.cot_imagen_cotizacion{
	width: 100%;
}

.inivx{
	display: flex;
	flex-direction: column;
	justify-content: center; 
	height: 90vh;
}

.btn-main-inv.pull-right{
	text-align: center;
}

.btn-main-inv{
	text-align: center;
}

/* MOBILE M */
@media (max-width : 375px) {
	.fix_mobile_23443{
		    font-size: 14px;
	}

	.back {
		height: 250px;
	}
	.exclusivos p{

	}

	.fix_mobile_3434 p{
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 1rem;
	}

	.fix_modal_76877768{
		display:none;
	}

	.leyenda{
		display: none;
	}
	.form-group{
		margin-bottom: 1rem;
	}
	.modal-content.cotizar h3{
		font-size: 14px;
	}
	.close-modal.eresr{
		font-size: 60px;
	}
	.cotizador_comentario{
		height: 50px;
	}
	.modal-header img{
		margin-top: 0px;
	}
	.map{
		height: 40rem;
	}

}
