#modalpopup .modal-content {
  border-radius: 0px;
}

#modalpopup .modal-header {
  border: none;
}

#modalpopup .modal-header .close {
  position: absolute;
  right: 1rem;
  top: 0px;
  font-weight: 100;
}

#modalpopup .logo-nav {
  max-width: 17rem;
  display: block;
  position: initial;
  margin: auto;
  float: none;
  padding: inherit;
  transform: none;
}

#modalpopup .modal-body, #modalpopup .modal-footer  {
  text-align: center;
  border: none;
}
#modalpopup .light {
  FONT-SIZE: 35px;
  font-weight: 400;
  color: #52264d;
  margin-bottom: 10px;
  margin-top: 0px;
  text-transform: uppercase;
}
#modalpopup .strong {
  FONT-SIZE: 35px;
  color: #52264d;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
}

#modalpopup .btn-main-inv {
  display: inline-block;
}

#modalpopup a.purple {
  display: block;
  margin-top: 10px;
}
#modalpopup a.purple:hover {
  color: black;
}

#modalpopup .modal-footer h6 {
  margin: 0px;
}

.seccion-bases .btn-main-inv{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: 0px;
  font-size: 16px;
}

/* MODAL NAVIDAD */
@font-face {
    font-family: GothamBold;
    src: url('fonts/Gotham/Gotham_BoldRegular.ttf');
}

:focus{
  outline: none;
}

#modalNavidad a:focus, a:hover{
  text-decoration: none !important;
  color: #572653 !important;
}


#modalNavidad .col-izquierda{
  padding-top: 10px;
}

#modalNavidad .col-derecha{
  padding-bottom: 10px;
}

#modalNavidad .row{
  display: flex;
  align-items: center;
  height: 510px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#modalNavidad.remodal{
  background-image: url('../img/modalnav/img-fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  color: #2b2e38;
  min-height: 510px;
  max-height: 510px;
}

#modalNavidad .btn-popup{
  font-family: 'GothamBold';
  background-color: white;
  color: #572653;
  font-size: 28px;
  width: 250px;
  border: 3px solid #572653;
  padding: 2px 20px 1px 20px;
  border-radius: 0;
}

#modalNavidad.remodal-confirm:focus, #modalNavidad.remodal-confirm:hover{
  background-color: white;
}
@media only screen and (max-width: 768px){
  #modalNavidad .row{
    display: inherit;
  }
}


@media only screen and (max-width: 578px){
  #modalNavidad.remodal{
    background-image: url('../img/modalnav/fondo-movil.jpg') !important;
  }
  #modalNavidad .imagen-navidad{
    width: 220px;
  }

  #modalNavidad .imagen-oferta{
    width: 250px;
  }
  #modalNavidad .col-derecha{
    padding-bottom: 30px !important;

  }
}

@media only screen and (min-width: 641px){
  #modalNavidad.remodal {
      max-width: 720px;
  }
}
